<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <form method="post" action="/create">
      <h5>Create a new Organization</h5>
      <input type="text" name="org" placeholder="org" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
